{% extends 'home/base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}
{% load static %}

<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar transparent">
    <div class="container">
        <a class="navbar-brand px-1" href="{% url 'home' %}">
            <img src="{% static 'favicon.ico' %}" width="25" height="25" class="align-center mx-1">
            <strong>wesleyh.net</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                            
            </ul>
            <ul class="navbar-nav ml-auto">
                
            </ul>
        </div>
    </div>
</nav>
<div class="view blog-bg z-depth-1">
    <div class="mask rgba-black-light flex-center">
        <div class="container white-text wow fadeInUp text-center">
            <h1 class="display-3 my-4">Welcome!</h1>
            <p class="">My blog is not quite ready, so the search function is not active.</p>
            <p class="">Grab a coffee and take a look!</p>
        </div>
    </div>
</div>

<br>

<main>

    <section id="blog-list" class="py-5">
        <div class="container">
            <!-- Section heading -->
            <h1 class="text-center">Latest posts or search.</h1>
            <!-- Section description -->

            <!-- Search/filter posts -->
            <div class="row align-items-center">
                <div class="col-sm">
                    <div class="md-form">
                        <input id="keywords" class="form-control" type="text" placeholder="Search by keyword">
                    </div>
                </div>
                <div class="col-sm">
                    <div id="date-picker-example" class="md-form mdb-select input-with-post-icon datepicker">
                        <input placeholder="Filter by month" type="text" id="example" class="form-control">
                        <i class="fas fa-calendar input-prefix" tabindex=0></i>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-primary btn-md my-0">Search</button>
                    <button class="btn btn-danger btn-md my-0">Clear</button>
                </div>
            </div>
            
            <br>
        </div>

        <div class="text-center pb-3">
            <span class="step-links">
                <a href="?page=1"><i class="fas fa-angle-double-left px-2"></i></a>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                {% endif %}
        
                <span class="current px-2">
                    <strong>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</strong> 
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                {% endif %}
                <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right px-2"></i></a>
            </span>
        </div>

        <div class="container">

                {% for post in page_obj %}
                <div class="row py-4">
                    
                    <div class="col">
                        <h3 class="font-weight-bold mb-3">
                            <strong>{{ post.title }}</strong>
                        </h3>
                        <p>{{ post.body|safe|truncatechars_html:500 }}</p>
                        <p>Created <strong>{{ post.post_date }}</strong></p>
                        <a href="{% url 'detail' post.id %}" class="btn btn-primary btn-md">Read more</a>
                    </div>
                </div>
                <br>
                <hr>
                {% endfor %} 

        </div>

        <div class="text-center pt-5">
            <span class="step-links">
                <a href="?page=1"><i class="fas fa-angle-double-left px-2"></i></a>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                {% endif %}
        
                <span class="current px-2">
                    <strong>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</strong> 
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                {% endif %}
                <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right px-2"></i></a>
            </span>
        </div>
    </section>
    <br>
</main>


{% endblock content %}